<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoWmapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WoWmapper.Properties.Settings>
            <setting name="AppTheme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="AppAccent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="AppDropShadow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAdvancedFeatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WoWFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceArchitecture" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EnableDS4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableXbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoConnectDevice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThresholdLeft" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ThresholdRight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ThresholdLeftClick" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ThresholdRightClick" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="EnableTriggerGrip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="LeftDeadzone" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RightDeadzone" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SendKeysDirect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MouselookCenterCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LightbarColorDefault" serializeAs="String">
                <value>#FFFF00FF</value>
            </setting>
            <setting name="LightbarColorBatteryLow" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="EnableColorLightbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableColorLightbarBatteryLow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableVibrateTriggerGrip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TouchpadMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightCurve" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RightSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoClassAccent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableVibrateDamage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableVibrateTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableLightbarHealth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableLightbarClass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightbarBatteryThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LightbarHealthCritical" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="LightbarHealthLow" serializeAs="String">
                <value>#FFFFA500</value>
            </setting>
            <setting name="LightbarHealthMedium" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="LightbarHealthHigh" serializeAs="String">
                <value>#FF00FF00</value>
            </setting>
        </WoWmapper.Properties.Settings>
    </userSettings>
</configuration>