<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WoWmapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WoWmapper.Properties.Settings>
            <setting name="RunInBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>BaseDark</value>
            </setting>
            <setting name="AppAccent" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="ExportBindings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModifierStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomBindings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TriggerThresholdLeft" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="TriggerThresholdRight" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CursorDeadzone" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CursorSpeed" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CursorCurve" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SwapSticks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MovementThreshold" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="InputDirectKeyboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InputHardwareMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ButtonStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BindingsModified" serializeAs="String">
                <value>01/01/1970 00:00:01</value>
            </setting>
            <setting name="EnableOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableOverlayCrosshair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableOverlayConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableOverlayBattery" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationH" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NotificationV" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EnableTouchpad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TouchpadMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XinputOverride" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XinputDll" serializeAs="String">
                <value>0</value>
            </setting>
        </WoWmapper.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>