<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WoWmapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ConsolePort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <WoWmapper.Properties.Settings>
      <setting name="SettingsVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="WoWInstallPath" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableAdvancedHaptics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableLightbarClass" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableLightbarHealth" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableRumbleTarget" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableRumbleDamage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendKeysDirect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendMouseDirect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InactiveDisable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CloseToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LightbarBattery" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LightbarBatteryThreshold" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="LightbarBatteryColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ColorCritical" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ColorLow" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="ColorMedium" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="ColorHigh" serializeAs="String">
        <value>LimeGreen</value>
      </setting>
      <setting name="TargetRumbleMod" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DamageRumbleMod" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="EnableStickyCursor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InputPlugin" serializeAs="String">
        <value>input_ds4.dll</value>
      </setting>
      <setting name="ColorDefault" serializeAs="String">
        <value>Magenta</value>
      </setting>
      <setting name="ColorLightbar" serializeAs="String">
        <value>True</value>
      </setting>
    </WoWmapper.Properties.Settings>
    <ConsolePort.Properties.Settings>
      <setting name="SettingsVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="WoWInstallPath" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableAdvancedHaptics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableLightbarClass" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableLightbarHealth" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableRumbleTarget" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableRumbleDamage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TouchMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RStickDeadzone" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="RStickCurve" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RStickSpeed" serializeAs="String">
        <value>2</value>
      </setting>
    </ConsolePort.Properties.Settings>
  </userSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>