<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsolePort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <ConsolePort.Properties.Settings>
            <setting name="SettingsVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="WoWInstallPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRealm" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCharacter" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableAdvancedHaptics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLightbarClass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableLightbarHealth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRumbleTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRumbleDamage" serializeAs="String">
                <value>True</value>
            </setting>
        </ConsolePort.Properties.Settings>
    </userSettings>
</configuration>
